:root {
    --background: #1f1f1f;
    --text: #ecf1f8;
    --text-secondary: #a6acb4;
    --primary: #5496f8;
    --primary-transparent: rgba(84, 150, 248, 0.2);
}

@font-face {
    font-family: "SF Pro";
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscopro-regular-webfont.woff")
        format("woff");
}

body {
    background: var(--background, #1f1f1f);
    color: var(--text, #ecf1f8);
    font-family: "SF Pro", sans-serif;
    margin: 0;
}

/* LAYOUT */
main {
    display: flex;
    flex-direction: row;
    padding: 0 170px;
}

.sidebar {
    display: flex;
    position: sticky;
    width: 40%;
    max-height: 100vh;
    top: 0;
    padding: 60px 0px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 60px 0px;
    gap: 90px;
}

.home-section {
    padding: 0 15px;
}

/* TEXT */
h1 {
    font-family: "SF Pro";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

h2 {
    font-family: "SF Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

p {
    font-family: "SF Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.p-small {
    color: var(--text-secondary, #a6acb4);
    font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.desc {
    color: var(--text-secondary, #a6acb4);
    font-family: "SF Pro";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    white-space: nowrap;
}

.section-heading {
    color: var(--text-secondary, #a6acb4);
    font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin: 0;
}

.position {
    font-weight: 500;
}

.text-secondary {
    color: var(--text-secondary, #a6acb4);
}

.primary-color {
    color: var(--primary, #5496f8);
}

.semi-bold {
    font-weight: 500;
}

/* FLEXBOX */
.vflex {
    display: flex;
    flex-direction: column;
}

.hflex {
    display: flex;
}

.gap-15 {
    gap: 15px;
}

.gap-30 {
    gap: 30px;
}

.gap-45 {
    gap: 45px;
}

.gap-60 {
    gap: 60px;
}

.align-center {
    align-items: center;
}

/* MISC */
.profile {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.pill {
    display: flex;
    overflow: hidden;
    padding: 3px 10px;
    border-radius: 100px;
    background: var(--primary-transparent, rgba(84, 150, 248, 0.2));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
