@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1f1f1f;
    --text-primary: #fafafa;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

body {
    color: var(--text-primary);
    background: var(--background);
}

html {
    scroll-behavior: smooth;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
